@model Wareways.PortalProv.Models.ForgotPasswordViewModel



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 col-xs-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"> <span class="fa fa-envelope fa-2x"></span>&nbsp; Recuperación de Contraseña ( Paso 1 )</h4>
            </div>
            <div class="box-body">

                <h4><b>Favor ingrese su correo para recuperar su contraseña</b></h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>


            </div>
            <div class="box-footer">
                
                    <button class="btn btn-success pull-right" type="submit">
                        Enviar Correo de Recuperación  &nbsp;
                        <i class="fa fa-envelope"></i>
                    </button>
                

            </div>
        </div>
    </div>




}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
