@model  Wareways.PortalProv.Models.PP.ContrasenaOficinaModel

<!DOCTYPE html>


<div>
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h4 class="box-title"> <span class="fa fa-check-square-o fa-2x"></span>&nbsp; Contraseñas (ADM)</h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed table-hover Datos">
                <thead>
                    <tr>
                        <th></th>
                        <th>Empresa</th>


                        <th>Numero </th>

                        <th>Estimada Pago</th>
                        <th>Documentos</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Creado Por</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.L_Documentos)
                    {
                        <tr>
                            <td>
                                <a href="#" data-toggle="modal" data-titulo="Contraseña" data-nombre="@item.Contrasena_Id" data-target="#myModal" target="_blank" class="btn btn-default " title="Factura"><span class="fa fa-file-pdf-o" style="color:darkgreen"></span></a>
                            </td>

                            <td>@item.Empresa_Name</td>





                            <td>@item.Contrasena_Numero </td>

                            <td>@item.Contrasena_Fecha_Estimada.ToString("yyyy-MM-dd")</td>
                            <td>@item.Cantidad </td>
                            <td>@item.Monto.ToString("#,###,##0.00") </td>
                            <td>@item.Contrasena_Fecha.ToString("yyyy-MM-dd")</td>
                            <td>@item.Contrasena_Usuario </td>
                            <td>@item.Contrasena_Estado </td>
                            <td><a href="@Url.Action("Edit","admcontrasena", new { id = item.Contrasena_Id })" class="btn btn-warning" style="color:white"> <span class="fa fa-edit"></span> </a></td>




                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabelTitle">Modal title</h4>
            </div>

            <div class="modal-body" id="ContenedorPDF">

            </div>


        </div>
    </div>
</div>

@section scripts
{

    <script src="~/admin-lte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myModal").on("show.bs.modal", function (e) {
                var id = $(e.relatedTarget).data('nombre');
                var titulo = $(e.relatedTarget).data('titulo');

                $("#ContenedorPDF").html("<embed src='/Reports/Contrasenas.aspx?id=" + id + "' type='application/pdf' style='width:100%; height:35vw;'  />");
                $("#myModalLabelTitle").html(titulo);

            });
        });

        $(function () {
            $('.Datos').DataTable({
                'paging': true,
                'searching': true,
                'ordering': true,
                'autoWidth': false,
                'showinfo': false,
                "pageLength": 10,
                //"columnDefs": [
                //    { "width": "60%", "targets": 0 },
                //    { "width": "20%", "targets": 1 },
                //    { "width": "20%", "targets": 2 }
                //],
                "language": { "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" }
            })
        })

    </script>

}