@model Wareways.PortalProv.Infraestructura.PPROV_RetencionTipo


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="box box-default">

        <div class="box-header">
            <div class="col-md-6">
                <h4 class="box-title"> Editar Opcion Detalle  </h4>
            </div>
            <div class="col-md-6 " style="text-align:right">


            </div>
        </div>
        <div class="box-body">


            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group">
                    @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Retencion_Tipo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Retencion_Nombre, new { htmlAttributes = new { @class = "form-control" } })                        
                    </div>
                </div>
             
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-6">
                <a href="@Url.Action("Index")" class="btn btn-default ">
                    <span class=" fa fa-backward" aria-hidden="true"></span>

                    Regresar Lista
                </a>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success pull-right" type="submit" id="saveTeststeps">
                    Grabar y Salir &nbsp;
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
         $(document).ready(function () {
            if ($("#Sistema").val() == "True") {
                $('#Nombre', 'form').attr('readonly', true);
                $('#Valor', 'form').attr('readonly', true);
            }
        });
    </script>
    }
