@model Wareways.PortalProv.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Contraseña";
}



@using (Html.BeginForm("ChangePassword", "Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="box box-default">
        <div class="box-header with-border">
            <h4 class="box-title">Cambiar Contraseña del Usuario @Model.UserName</h4>
        </div>
        <div class="box-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(p => p.OldPassword)
            @Html.HiddenFor(p => p.UserName)
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success pull-right" type="submit" id="saveTeststeps">
                        Cambiar Contraseña &nbsp;
                        <i class="fa fa-save"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>





}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}