@model Wareways.PortalProv.Infraestructura.AspNetUsers

@{
    var l_ADM_EmpresasOficina = (List<Wareways.PortalProv.Infraestructura.SP_PPROV_ADM_EmpresasOficina_Result>)ViewBag.OficinaEmpesasPermiso;
    var l_PermisosUsuarioCodigosProv = (List<Wareways.PortalProv.Infraestructura.SP_PPROV_PermisosCodigosProv_Usuario_Result>)ViewBag.PermisosUsuarioCodigosProv;
}



@using (Html.BeginForm())
{
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Usuario Edición</h4>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">

                    @Html.Label("Codigo Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Puesto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Puesto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Correo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">
                        Roles Asignados
                    </label>

                    <div class="col-md-10 ">
                        @foreach (Wareways.PortalProv.Infraestructura.V_GEN_UsuarioRoles _Item in ViewBag.RolesAsignados)
                        {

                            <a href="@Url.Action("RemoveRole", "Usuario", new { _roleid = _Item.Id, _UserName = _Item.UserId })" class="btn btn-default">
                                @_Item.Name
                                <span class="fa fa-remove" aria-hidden="true" style="color:red"></span>
                            </a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Roles Disponibles
                    </label>

                    <div class="col-md-10 ">
                        @foreach (Wareways.PortalProv.Infraestructura.V_GEN_UsuarioRoles_Diponibles _Item in ViewBag.RolesDisponibles)
                        {
                            <a href="@Url.Action("AddRole", "Usuario", new { _roleid = _Item.Id, _UserName = _Item.UserId })" class="btn btn-default">
                                @_Item.Name
                                <span class="fa fa-plus" aria-hidden="true" style="color:green"></span>
                            </a>
                        }
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label("Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>


            <div>

            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-4">
                <a href="@Url.Action("Index", "Usuario")" class="btn btn-default">
                    Regresar
                    <span class="fa fa-backward" aria-hidden="true" style="color:green"></span>
                </a>
            </div>

            <div class="col-md-4">
                <a href="@Url.Action("ChangePassword", "Usuario",new { _UserName = Model.UserName })" class="btn btn-default">
                    Cambiar Contraseña
                    <span class="fa fa-user-secret" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-4">
                <button class="btn btn-success pull-right" type="submit" id="saveTeststeps">
                    Grabar y Salir &nbsp;
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>


    </div>




}
<div class="row">
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">Permisos Oficina</h4>
            </div>
            <div class="box-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var _Item in l_ADM_EmpresasOficina)
                        {
                            <tr>
                                <td>@_Item.Empresa_Name</td>
                                <td>
                                    @if (_Item.Activo == 0)
                                    {
                                        <a href="@Url.Action("AgregarEmpresaOficina",new { EmpresaId = _Item.Empresa_Id, UserId = Model.Id  })" class="btn btn-success"> Asignar <span class="fa fa-plus-circle"></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("QuitarEmpresaOficina",new { EmpresaId = _Item.Empresa_Id, UserId = Model.Id  })" class="btn btn-danger"> Quitar <span class="fa fa-minus-circle"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">Permisos Proveedores</h4>
            </div>
            <div class="box-body">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var _Item in l_PermisosUsuarioCodigosProv)
                        {
                            <tr>
                                <td>@_Item.Empresa_Name</td>
                                <td>@_Item.CardCode</td>
                                <td>@_Item.CardName</td>
                                <td>
                                    <a href="@Url.Action("QuitarCodProv",new { EmpresaId = _Item.Empresa_Id,Id = Model.Id , CardCode = _Item.CardCode })" class="btn btn-danger"> Quitar <span class="fa fa-minus-circle"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            @using (Html.BeginForm("AgregaCodProv", "Usuario", FormMethod.Post))
                            {
                            @Html.HiddenFor(p => p.Id);
                            <td>
                                @Html.DropDownList("EmpresaId", new SelectList(ViewBag.Empresas,"Empresa_Id","Empresa_Name","1"),
                                    new { @Class = "form-control ExcluirSoloLectura" })
                            </td>
                            <td colspan="2">
                                @Html.TextBox("CardCode", "", htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>
                                <button class="btn btn-success pull-right " type="submit" id="saveTeststeps">
                                    Insertar &nbsp;
                                    <i class="fa fa-save"></i>
                                </button>
                            </td>
                            }

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("AsignarRuta", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("puserId", Model.Id)
    <div class="modal fade" id="ModalasignarRuta" role="dialog">
        <div class="modal-dialog err-pop" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-11">
                        <h4 class="box-title"> AsignarRuta </h4>
                    </div>
                    <div>
                        <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                </div>
                <div class="modal-body" style="text-align:center;">
                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.Label("Primaria", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 " style="text-align:left">
                                @Html.CheckBox("primaria", false)
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="pull-right">


                            <button class="btn btn-success pull-right " type="submit" id="saveTeststeps">
                                Grabar &nbsp;
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

}



@section scripts
{





    <script>
        $(document).ready(function () {
            $(".BtnOpenAsignarRuta").click(function () {
                $('#ModalasignarRuta').modal('show');
            })
        });


    </script>
}







