@model Wareways.PortalProv.Models.ChangePasswordViewModel

@{
    Layout = null;
}



@using (Html.BeginForm("ChangePassword", "UserInfo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success pull-right" type="submit" id="saveTeststeps">
                        Cambiar Contraseña &nbsp;
                        <i class="fa fa-save"></i>
                    </button>

                </div>
            </div>
        
    





}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}