<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal Proveedores</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/admin-lte/bower_components/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="~/admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <!-- quitado <link rel="stylesheet" href="~/admin-lte/dist/css/AdminLTE.min.css">-->
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <!--  quitado <link rel="stylesheet" href="~/admin-lte/dist/css/skins/skin-blue.min.css">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @RenderSection("Header", required: false)
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="  
      @if (Session["ScreenColor"] != null)
      {
          @Session["ScreenColor"].ToString();
      } else
      {
          @:hold-transition skin-blue
      }
       sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="~/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="font-size:small !important"><b>P</b>Pro</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Portal</b> Proveedores</span>
            </a>



            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <div style="padding-right:50px">
                        @Html.Partial("_LoginPartial")
                    </div>


                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/admin-lte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>*@
                <!-- Status -->
                @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>*@

                <!-- search form (Optional) -->
                @*<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>*@
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    @*<li class="header">HEADER</li>*@
                    <!-- Optionally, you can add icons to the links -->



                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <a href="@Url.Action("Index", "Home")">  <i class="fa fa-home"></i><span> Inicio </span> </a>
                    </li>
                    @if (Session["MenuList"] != null)
                    {
                        var _MenuList = (List<Wareways.PortalProv.Infraestructura.V_GEN_MenuDisplay>)Session["MenuList"];



                        foreach (var Menu_Item0 in _MenuList.Where(p => p.Menu_Parent == null))
                        {
                            <li class='@(Menu_Item0.Menu_Url == "" ? "treeview":"")'>
                                <a href="@Menu_Item0.Menu_Url">
                                    <i class="@Menu_Item0.Menu_Icons"></i>
                                    @Menu_Item0.Menu_Nombre
                                    <span class="pull-right-container" style='@(Menu_Item0.Menu_Url == "" ? "":"display:none")'>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu" style="display: none;">
                                    @foreach (var Menu_Item1 in _MenuList.Where(p => p.Menu_Parent == Menu_Item0.Menu_Id))
                                    {
                                        <li class="@(Menu_Item1.Menu_Url == "" ? "treeview":"")">
                                            <a href="@Menu_Item1.Menu_Url">
                                                <i class="@Menu_Item1.Menu_Icons"></i>@Menu_Item1.Menu_Nombre
                                                <span class="pull-right-container" style='@(Menu_Item1.Menu_Url == "" ? "":"display:none")'>
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                @foreach (var Menu_Item2 in _MenuList.Where(p => p.Menu_Parent == Menu_Item1.Menu_Id))
                                                {
                                                    <li class='@(Menu_Item2.Menu_Url == "" ? "treeview":"")'><a href="@Menu_Item2.Menu_Url"><i class="@Menu_Item2.Menu_Icons"></i>@Menu_Item2.Menu_Nombre</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    }


                    @*<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-link"></i> <span>Multilevel</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#">Link in level 2</a></li>
                                <li><a href="#">Link in level 2</a></li>
                            </ul>
                        </li>*@
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            @RenderSection("PageHeader", required: false)



            <!-- Main content -->
            <section class="content container-fluid">

                <!--------------------------
                | Your Page Content Here |
                -------------------------->
                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Keep It Simple
                @if (@Session["Sucursal"] != null)
                {
                    @:[
                    @Session["Sucursal"].ToString();
                    @:]
                }
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="https://wwww.wareways.com">Portal Proveedores</a></strong> Todos los Derechos Reservados. (
            @if (Session["ConexionDB"] != null)
            {
                @Session["ConexionDB"].ToString()
            }
            )
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>




    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")
    @RenderSection("scripts", required: false)
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function() {
            var swalMensajeExito = '@TempData["MensajeSuccess"]';
            if (swalMensajeExito != '')
                swal("Exito", "@TempData["MensajeSuccess"]", "success");
                

            var swalMensajeError = '@TempData["MensajeWarning"]';
            if (swalMensajeError != '')
                swal( "Advertencia","@TempData["MensajeWarning"]", "warning" );

            var swalMensajeError = '@TempData["MensajeDanger"]';
            if (swalMensajeError != '')
                swal("Error", "@TempData["MensajeDanger"]", "error" );

        });        
    </script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
</body>
</html>