@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>                
                <a href='@Url.Action("Index","UserInfo")' title="Información del Usuario"  > <span class="fa fa-user"> </span> &nbsp; @User.Identity.GetUserName()  </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">  <span class=" fa fa-sign-out"></span>&nbsp; Cerrar</a></li>
        </ul>
    }
    

}
else
{

    @*<li>@Html.ActionLink("Iniciar Session", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Login", "Account")" class="" id="loginLink">
                <span class=" fa fa-sign-in" aria-hidden="true"></span>
                &nbsp;  Iniciar Sesión

            </a>
        </li>
    </ul>

}
