@model  Wareways.PortalProv.Models.PP.RetencionesOficinaModel

<!DOCTYPE html>


<div>
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h4 class="box-title"><span class="fa fa-file fa-2x"></span> Retenciones (ADM)</h4>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed table-hover Datos">
                <thead>
                    <tr>
                        <th></th>
                        <th>Interno</th>
                        <th>Tipo</th>

                        <th>Numero</th>
                        <th>Proveedor</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Moneda</th>

                        <th>Empresa</th>
                        <th>Factura </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.L_Retenciones)
                    {
                        <tr>
                            <td>
                                <a href="#" data-toggle="modal" data-titulo="Retenciones" data-nombre="@item.Retencion_Pdf" data-target="#myModal" target="_blank" class="btn btn-default " title="Retencion"><span class="fa fa-file-pdf-o" style="color:blue"></span></a>

                            </td>
                            <td>@item.Interno</td>
                            <td>@item.Retencion_Nombre</td>

                            <td>@item.Retencion_Numero</td>

                            <td>@item.Doc_CardCorde</td>

                            <td>@item.Retencion_Fecha.Value.ToString("yyyy-MM-dd")</td>

                            <td>@item.Retencion_Monto.Value.ToString("#,###,##0.00")</td>

                            <td>@item.Retencion_Moneda</td>



                            <td>@item.Empresa_Name</td>

                            <td>@item.Doc_Serie - @item.Doc_Numero  (@item.Doc_TipoDocumento)</td>







                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <a href="@Url.Action("Nuevo","admretenciones")" class="btn btn-primary" style="color:white">Nuevo Retención  &nbsp; <span class="fa fa-plus-circle"></span> </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>

            <div class="modal-body">

            </div>


        </div>
    </div>
</div>

@section scripts
{

    <script src="~/admin-lte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin-lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myModal").on("show.bs.modal", function (e) {
                var id = $(e.relatedTarget).data('nombre');
                var titulo = $(e.relatedTarget).data('titulo');

                $(".modal-body").html("<embed src='" + id + "' type='application/pdf' style='width:100%; height:35vw;'  />");
                $(".modal-title").html(titulo);

            });
        });


        $(function () {
            $('.Datos').DataTable({
                'paging': true,
                'searching': true,
                'ordering': true,
                'autoWidth': false,
                'showinfo': false,
                "pageLength": 10,
                "order": [[1, "desc"]],
                "columnDefs": [
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    }
                ],
                //"columnDefs": [
                //    { "width": "60%", "targets": 0 },
                //    { "width": "20%", "targets": 1 },
                //    { "width": "20%", "targets": 2 }
                //],
                "language": { "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json" }
            })
        })

    </script>

}