@model Wareways.PortalProv.Models.PP.RetencionesOficinaNuevo

<!DOCTYPE html>

@section Header
{
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }

            .ui-autocomplete > li > div {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.42857143;
                color: #333333;
                white-space: nowrap;
            }

        .ui-state-hover,
        .ui-state-active,
        .ui-state-focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
            cursor: pointer;
        }

        .ui-helper-hidden-accessible {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    </style>

}

@using (Html.BeginForm("Nuevo", "admretenciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(p => p._DocId)
    @Html.HiddenFor(p => p.Modo_Activo)
    @Html.HiddenFor(p => p.Nuevo_Pdf_Name)
    @Html.HiddenFor(p => p.Retencion_Pdf)
    @Html.AntiForgeryToken()

    if (@ViewBag.Message != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alerta !</h4>
            @ViewBag.Message
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            @if (Model.Modo_Activo == "Paso1")
            {
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title"><span class="fa fa-file fa-2x"></span> Paso 1 Carga Archivo</h4>
                    </div>
                    <div class="box-body">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h2 class="box-title">Retención</h2>
                            </div>
                            <div class="box-body">
                                <label for="filefac" class="btn btn-success">Seleccionar Arhivo PDF</label>
                                @Html.TextBox("filefac", "", new { type = "file", @title = "Seleccione PDF", @style = "visibility:hidden;" })
                                <label id="filefac_sel"></label>
                                <p class="help-block">Solo se pueden subir archivos PDF</p>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success pull-right" type="submit" name="submit_Step1" value="submit_Step1">
                                    Subir &nbsp;
                                    <i class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Modo_Activo == "Paso2")
            {
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title"><span class="fa fa-file fa-2x"></span> Paso 1 Archivo Cargado</h4>
                    </div>
                    <div class="box-body">
                        <embed src="@Model.Retencion_Pdf" type="application/pdf" style="width:90%; height:50vw;" id="uipdfembfac" />
                    </div>
                </div>

            }

        </div>
        <div class="col-md-6">
            @if (Model.Modo_Activo == "Paso2")
            {
                <div class="box box-primary box-solid">
                    <div class="box-header with-border">
                        <h4 class="box-title"><span class="fa fa-file fa-2x"></span> Nueva Retención</h4>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.Label("No. Retencion", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Retencion_Numero, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Fecha", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Retencion_Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Monto", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Retencion_Monto, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Retencion_Moneda,
                                                                   new SelectList(Model.Lista_Moneda, "Valor", "Nombre"),
                                                                   new { @Class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Tipo", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(p => p.Retencion_Tipo, new SelectList(Model.Lista_TiposRet, "Retencion_Tipo", "Retencion_Nombre"), new { @Class = "form-control ExcluirSoloLectura" })
                                </div>

                            </div>
                            <div class="form-group">
                                @Html.Label("Proveedor", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @if (Model._DocId == null)
                                    {
                                        @Html.EditorFor(model => model.Retencion_CardCode, new { htmlAttributes = new { @class = "form-control" } })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Retencion_CardCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    }

                                </div>
                            </div>
                            @if (Model._DocId == null)
                            {
                                <div class="form-group">
                                    @Html.Label("Empresa", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(p => p.Manual_Empresa, new SelectList(ViewBag.Usuario_Empresas, "Empresa_Id", "Empresa_Name"), new { @Class = "form-control ExcluirSoloLectura" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.Label("Numero", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Manual_FacNumero, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.Label("Serie", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Manual_Fac_Serie, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                    <div class="box-footer">

                        <div class="col-md-6">
                            <a href="@Url.Action("Index", "admRetenciones")" class="btn btn-default ">
                                <span class=" fa fa-backward" aria-hidden="true"></span>

                                Regresar Lista
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-success pull-right" type="submit" name="submit_Step2" value="submit_Step2">
                                Subir &nbsp;
                                <i class="fa fa-upload"></i>
                            </button>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>

}

@section scripts
{
    <script src="~/admin-lte/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script>

        $("#filefac").change(function () {
            var filename = this.files[0].name
            $("#filefac_sel").text(filename);
        });

        $(document).ready(function () {          
            $("#Retencion_CardCode").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Usuario/ObtenerPorveedores",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.value };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });
        });
    </script>
}

